<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adibvafa</title>

  <link rel="shortcut icon" href="../static/assets/images/logo-circle.png" type="image/x-icon">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" type="text/css" href="../static/assets/css/style.css">


  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>

  <!--
    - #MAIN
  -->

<!--  <div>-->
<!--    <video autoplay loop muted playsinline class="b-video">-->
<!--      <source src="../vcard-personal-portfolio/assets/images/video.mp4" type="video/mp4">-->
<!--    </video>-->
<!--  </div>-->


  <main>
    <!--
      - #SIDEBAR
    -->

    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="../static/assets/images/Adibvafa.png" alt="Adibvafa Fallahpour" width="45%">
        </figure>

        <div class="info-content">
          <h1 class="name" title="Adibvafa Fallahpour">Adibvafa Fallahpour</h1>
          <p class="title">Machine Learning Engineer</p>
          <p class="title">Neuroscientist</p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="mail-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Email</p>

              <a href="mailto:Adibvafa.fallahpour@mail.utoronto.ca" class="contact-link" onclick="copyEmail()">Adibvafa.fallahpour@mail.utoronto.ca</a>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="phone-portrait-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Phone</p>

              <a href="tel:+16478543425" class="contact-link">+1 (647) 854-3425</a>
            </div>

          </li>


          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="logo-LinkedIn"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">LinkedIn</p>

              <a href="https://www.linkedin.com/in/adibvafa-fallahpour/" class="contact-link" target="_blank">Adibvafa Fallahpour</a>
            </div>

          </li>


          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="logo-github"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">GitHub</p>

              <a href="https://github.com/Adibvafa" class="contact-link" target="_blank">Adibvafa</a>
            </div>

          </li>


          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <a href="https://www.toronto.ca/" class="contact-link" target="_blank">Toronto, Canada</a>
            </div>

          </li>

        </ul>

      </div>

    </aside>





    <!--
      - #main-content
    -->

    <div class="main-content">

      <!--
        - #NAVBAR
      -->

      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <button class="navbar-link  active" data-nav-link>About</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Resume</button>
          </li>

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Projects</button>
          </li>

<!--          <li class="navbar-item">-->
<!--            <button class="navbar-link" data-nav-link>Portfolio</button>-->
<!--          </li>-->

          <li class="navbar-item">
            <button class="navbar-link" data-nav-link>Contact</button>
          </li>

        </ul>

      </nav>





      <!--
        - #ABOUT
      -->

      <article class="about  active" data-page="about">

          <header>
            <div class="auto-type-effect">
              <span class="auto-type"></span>
            </div>
          </header>

        <h3 class="h3 service-title">Who Am I?</h3>
        <section class="about-text">

          <p>
            Hello! I'm Adib, a student at the University of Toronto, double majoring in Co-op Computer Science and Neuroscience.
            My passion lies in the realm of <span style="color: hsl(166, 54%, 53%); font-weight: bold; display: inline-block;">Intelligence</span>,
            encompassing both the fascinating intricacies of the Human Brain and the evolving landscape of Artificial Intelligence.
            My ambition is to explore their intersection, aiming to drive future advancements in AI while deepening our understanding of the mind.
          </p>

          <p>
            I possess strong foundations in Deep Learning & Machine Learning, with expertise in utilizing
            Python Libraries like TensorFlow, Keras, PyTorch, SciKit-Learn, Hugging Face, and Pandas. I have developed
            innovative AI projects in hackathons and participated in Kaggle competitions,
            while engaging in cutting-edge Neuroscience Research. Additionally,
            I have practical experience in using SQL, PowerBI, GCP, C, HTML, CSS, & Bash.
          </p>

          <p>
            Apart from my AI-enthusiasm, I am keenly interested in Archery. Archery has taught me the importance of setting precise goals, staying focused, and persistently pursuing my ambitions, while nurturing a resilient mindset with
            practical value in my everyday life.
          </p>
        </section>


        <!--
          - service
        -->

        <section class="service">

          <h3 class="h3 service-title">What i'm doing</h3>

          <ul class="service-list">

            <li class="service-item">

              <div class="service-icon-box">
                <img src="../static/assets/images/machine2-modified.png
                " alt="Machine Learning" width="85" style="filter: brightness(125%)">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Machine Learning</h4>

                <p class="service-item-text">
                  Leveraging cutting-edge NLP, Computer Vision,<br>& ML techniques to pioneer innovative solutions.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="../static/assets/images/circle_brain.png" alt="Neuroscience" width="75">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Neuroscience Research</h4>

                <p class="service-item-text">
                  Using advanced DL algorithms to decode hidden<br>connections of Brain Neural Activity & Behaviour.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="../static/assets/images/ai.png" alt="UofT AI" width="65">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Community Development</h4>

                <p class="service-item-text">
                  Fostering an inclusive AI community across UofT as the Director of Community Engagement at
                  <a href="https://www.uoft.ai/" class="contact-link" target="_blank" style="color: hsl(166, 54%, 53%); font-weight: bold; display: inline-block;">UofT AI</a>.
                </p>
              </div>

            </li>

            <li class="service-item">

              <div class="service-icon-box">
                <img src="../static/assets/images/archery.png" alt="Archery" width="75">
              </div>

              <div class="service-content-box">
                <h4 class="h4 service-item-title">Archery</h4>

                <p class="service-item-text">
                  Finding solace, growth, and fulfillment through<br>the art of shooting arrows with a bow.
                </p>
              </div>

            </li>

          </ul>

        </section>


        <!--
          - testimonials
        -->

<!--        <section class="testimonials">-->

<!--          <h3 class="h3 testimonials-title">Testimonials</h3>-->

<!--          <ul class="testimonials-list has-scrollbar">-->

<!--            <li class="testimonials-item">-->
<!--              <div class="content-card" data-testimonials-item>-->

<!--                <figure class="testimonials-avatar-box">-->
<!--                  <img src="./assets/images/avatar-1.png" alt="Daniel lewis" width="60" data-testimonials-avatar>-->
<!--                </figure>-->

<!--                <h4 class="h4 testimonials-item-title" data-testimonials-title>Daniel lewis</h4>-->

<!--                <div class="testimonials-text" data-testimonials-text>-->
<!--                  <p>-->
<!--                    Richard was hired to create a corporate identity. We were very pleased with the work done. She has a-->
<!--                    lot of experience-->
<!--                    and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt-->
<!--                    consectetur adipiscing-->
<!--                    elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.-->
<!--                  </p>-->
<!--                </div>-->

<!--              </div>-->
<!--            </li>-->

<!--            <li class="testimonials-item">-->
<!--              <div class="content-card" data-testimonials-item>-->

<!--                <figure class="testimonials-avatar-box">-->
<!--                  <img src="./assets/images/avatar-2.png" alt="Jessica miller" width="60" data-testimonials-avatar>-->
<!--                </figure>-->

<!--                <h4 class="h4 testimonials-item-title" data-testimonials-title>Jessica miller</h4>-->

<!--                <div class="testimonials-text" data-testimonials-text>-->
<!--                  <p>-->
<!--                    Richard was hired to create a corporate identity. We were very pleased with the work done. She has a-->
<!--                    lot of experience-->
<!--                    and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt-->
<!--                    consectetur adipiscing-->
<!--                    elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.-->
<!--                  </p>-->
<!--                </div>-->

<!--              </div>-->
<!--            </li>-->

<!--            <li class="testimonials-item">-->
<!--              <div class="content-card" data-testimonials-item>-->

<!--                <figure class="testimonials-avatar-box">-->
<!--                  <img src="./assets/images/avatar-3.png" alt="Emily evans" width="60" data-testimonials-avatar>-->
<!--                </figure>-->

<!--                <h4 class="h4 testimonials-item-title" data-testimonials-title>Emily evans</h4>-->

<!--                <div class="testimonials-text" data-testimonials-text>-->
<!--                  <p>-->
<!--                    Richard was hired to create a corporate identity. We were very pleased with the work done. She has a-->
<!--                    lot of experience-->
<!--                    and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt-->
<!--                    consectetur adipiscing-->
<!--                    elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.-->
<!--                  </p>-->
<!--                </div>-->

<!--              </div>-->
<!--            </li>-->

<!--            <li class="testimonials-item">-->
<!--              <div class="content-card" data-testimonials-item>-->

<!--                <figure class="testimonials-avatar-box">-->
<!--                  <img src="./assets/images/avatar-4.png" alt="Henry william" width="60" data-testimonials-avatar>-->
<!--                </figure>-->

<!--                <h4 class="h4 testimonials-item-title" data-testimonials-title>Henry william</h4>-->

<!--                <div class="testimonials-text" data-testimonials-text>-->
<!--                  <p>-->
<!--                    Richard was hired to create a corporate identity. We were very pleased with the work done. She has a-->
<!--                    lot of experience-->
<!--                    and is very concerned about the needs of client. Lorem ipsum dolor sit amet, ullamcous cididt-->
<!--                    consectetur adipiscing-->
<!--                    elit, seds do et eiusmod tempor incididunt ut laborels dolore magnarels alia.-->
<!--                  </p>-->
<!--                </div>-->

<!--              </div>-->
<!--            </li>-->

<!--          </ul>-->

<!--        </section>-->


        <!--
          - testimonials modal
        -->

        <div class="modal-container" data-modal-container>

          <div class="overlay" data-overlay></div>

          <section class="testimonials-modal">

            <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>
          </section>
        </div>


        <!--
          - clients
        -->

<!--        <section class="clients">-->

<!--          <h3 class="h3 clients-title">Clients</h3>-->

<!--          <ul class="clients-list has-scrollbar">-->

<!--            <li class="clients-item">-->
<!--              <a href="#">-->
<!--                <img src="./assets/images/logo-1-color.png" alt="client logo">-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="clients-item">-->
<!--              <a href="#">-->
<!--                <img src="./assets/images/logo-2-color.png" alt="client logo">-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="clients-item">-->
<!--              <a href="#">-->
<!--                <img src="./assets/images/logo-3-color.png" alt="client logo">-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="clients-item">-->
<!--              <a href="#">-->
<!--                <img src="./assets/images/logo-4-color.png" alt="client logo">-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="clients-item">-->
<!--              <a href="#">-->
<!--                <img src="./assets/images/logo-5-color.png" alt="client logo">-->
<!--              </a>-->
<!--            </li>-->

<!--            <li class="clients-item">-->
<!--              <a href="#">-->
<!--                <img src="./assets/images/logo-6-color.png" alt="client logo">-->
<!--              </a>-->
<!--            </li>-->

<!--          </ul>-->

<!--        </section>-->

      </article>





      <!--
        - #RESUME
      -->

      <article class="resume" data-page="resume">

        <header>
          <h2 class="h2 article-title">Resume</h2>
        </header>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Education</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">University of Toronto</h4>

              <span class="timeline-time">Sep 2022 — Present</span>

              <p class="timeline-text">
                Honours Bachelor of Science in Co-op Computer Science and Neuroscience – <h0 class="timeline-text-bold">GPA: 4.0</h0>
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">International Biology Olympiad Silver Medal</h4>

              <span class="timeline-time">32nd IBO, Lisbon, Portugal&nbsp&nbsp|&nbsp&nbsp2021</span>

              <p class="timeline-text">
                •  Achieved Silver Medal among 300 students from 72 countries in the world's most prominent biology competition.
              </p>

            </li>


          </ol>

        </section>


        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Skills</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Languages</h4>
              <p class="timeline-text">
                Python  |  SQL  |  C  |  HTML  |  CSS
              </p>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Machine Learning</h4>
              <h7 class="h7 timeline-text">
                Neural Networks  |  CNN  |  RNN  |  LSTM  |  Transformers  |  Random Forests  |  Model Optimization
              </h7>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Frameworks</h4>
              <h7 class="h7 timeline-text">
                TensorFlow  |  PyTorch  |  Keras  |  Hugging Face  |  SciKit-Learn  |  Pandas  |  SciPy  |  Matplotlib  |  NumPy
              </h7>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Tools</h4>
              <h7 class="h7 timeline-text">
                PowerBI  |  Git/GitHub  |  Jupyter Notebook  |  Unit Testing  |  Linux (Debian)  |  Bash  |  SSH  |  VSC
              </h7>

            </li>

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Databases & Cloud</h4>
              <h7 class="h7 timeline-text">
                SQL  |  GCP (IPR)
              </h7>

            </li>

          </ol>

        </section>


        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Experience</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Deep Learning Research at Neuroscience Lab</h4>

              <span class="timeline-place">University of Toronto - Koyama & Filion Lab</span>
              <span class="timeline-time">May 2023 — Present</span>

              <p class="timeline-text">
                •  Leveraged PyTorch and Hugging Face frameworks to develop cutting-edge DL architectures, such as Transformers (BERT, GPT) & LSTM, to decode and translate brain neural activity into body movements of Zebrafish.
                <br><br>•  Collaborated with interdisciplinary team members to successfully translate theoretical concepts into practical solutions, yielding novel insights into neural mechanisms and behavior in Zebrafish.
                <br><br>•  Actively engaged in manuscript preparation for publication in prestigious journals and planning to present findings at scientific conferences, fostering knowledge exchange and collaboration among experts in the field.
              </p>

            </li>

          </ol>
        </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Projects</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Titanic: Novel Deep Learning Approach</h4>

              <span class="timeline-place">Kaggle Notebook</span>
              <span class="timeline-time">May 2023</span>

              <p class="timeline-text">
                •  Used Scikit-Learn & Pandas to clean the Titanic Competition data on Kaggle and performed data visualization using Matplotlib and Seaborn to identify patterns and correlations.
                <br><br>•  Leveraged advanced Deep Learning techniques to design and implement a Neural Network using TensorFlow & Keras, achieving 80% accuracy in predicting survival outcomes for the Titanic dataset.
              </p>

            </li>


            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Co-Founder @ ZeroWaste</h4>

              <span class="timeline-place">UTSC Co-op Innovation Challenge 2023</span>
              <span class="timeline-time">April 2023 - Present</span>

              <p class="timeline-text">
                •  Co-founded and led a team of CS students to develop ZeroWaste, an innovative AI app designed to combat household food waste by monitoring their expiry dates, suggesting food bank donations, and AI-generated meal planning.
                <br><br>•  The collaborative efforts culminated in the praised recognition of ZeroWaste, which secured 2nd place in the UTSC Co-op Innovation Challenge 2023.
              </p>

            </li>


            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">MyCademy</h4>

              <span class="timeline-place">OpenAI Global Hackathon</span>
              <span class="timeline-time">Mar 2023 - Present</span>

              <p class="timeline-text">
                •  Led a high-performing team to successfully develop MyCademy, a learning platform integrating Generative AI such as ChatGPT & DALL-E-2 to create personalized webpage articles based on users' unique needs & interests.
                <br><br>• Fostered a collaborative environment, driving open communication and idea sharing, leading to innovative solutions and a positive team dynamic for the learning platform.
              </p>

            </li>

          </ol>

        </section>

        <section class="timeline">

          <div class="title-wrapper">
            <div class="icon-box">
              <ion-icon name="book-outline"></ion-icon>
            </div>

            <h3 class="h3">Certificates</h3>
          </div>

          <ol class="timeline-list">

            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Deep Learning Specialization</h4>

              <span class="timeline-time">Coursera & DeepLearning.ai&nbsp&nbsp|&nbsp&nbsp2023</span>

              <p class="timeline-text">
                •  5-Courses Specialization including Deep Neural Networks, Regularization, Optimization, Structuring Projects, Convolutional Neural Networks (CNN), and Sequence Models such as RNN, LSTM, and Transformers.
              </p>

            </li>


            <li class="timeline-item">

              <h4 class="h4 timeline-item-title">Machine Learning Specialization</h4>

              <span class="timeline-time">Coursera & DeepLearning.ai&nbsp&nbsp|&nbsp&nbsp2023</span>

              <p class="timeline-text">
                •  3-Courses Specialization of Supervised and Unsupervised Learning, Advanced Algorithms, & Reinforcement Learning.
              </p>

            </li>

          </ol>

        </section>


<!--        <section class="skill">-->

<!--          <h3 class="h3 skills-title">My skills</h3>-->

<!--          <ul class="skills-list content-card">-->

<!--            <li class="skills-item">-->

<!--              <div class="title-wrapper">-->
<!--                <h5 class="h5">Web design</h5>-->
<!--                <data value="80">80%</data>-->
<!--              </div>-->

<!--              <div class="skill-progress-bg">-->
<!--                <div class="skill-progress-fill" style="width: 80%;"></div>-->
<!--              </div>-->

<!--            </li>-->

<!--            <li class="skills-item">-->

<!--              <div class="title-wrapper">-->
<!--                <h5 class="h5">Graphic design</h5>-->
<!--                <data value="70">70%</data>-->
<!--              </div>-->

<!--              <div class="skill-progress-bg">-->
<!--                <div class="skill-progress-fill" style="width: 70%;"></div>-->
<!--              </div>-->

<!--            </li>-->

<!--            <li class="skills-item">-->

<!--              <div class="title-wrapper">-->
<!--                <h5 class="h5">Branding</h5>-->
<!--                <data value="90">90%</data>-->
<!--              </div>-->

<!--              <div class="skill-progress-bg">-->
<!--                <div class="skill-progress-fill" style="width: 90%;"></div>-->
<!--              </div>-->

<!--            </li>-->

<!--            <li class="skills-item">-->

<!--              <div class="title-wrapper">-->
<!--                <h5 class="h5">WordPress</h5>-->
<!--                <data value="50">50%</data>-->
<!--              </div>-->

<!--              <div class="skill-progress-bg">-->
<!--                <div class="skill-progress-fill" style="width: 50%;"></div>-->
<!--              </div>-->

<!--            </li>-->

<!--          </ul>-->

<!--        </section>-->

      </article>





      <!--
        - #PORTFOLIO
      -->

<!--      <article class="portfolio" data-page="portfolio">-->

<!--        <header>-->
<!--          <h2 class="h2 article-title">Portfolio</h2>-->
<!--        </header>-->

<!--        <section class="projects">-->

<!--          <ul class="filter-list">-->

<!--            <li class="filter-item">-->
<!--              <button class="active" data-filter-btn>All</button>-->
<!--            </li>-->

<!--            <li class="filter-item">-->
<!--              <button data-filter-btn>Web design</button>-->
<!--            </li>-->

<!--            <li class="filter-item">-->
<!--              <button data-filter-btn>Applications</button>-->
<!--            </li>-->

<!--            <li class="filter-item">-->
<!--              <button data-filter-btn>Web development</button>-->
<!--            </li>-->

<!--          </ul>-->

<!--          <div class="filter-select-box">-->

<!--            <button class="filter-select" data-select>-->

<!--              <div class="select-value" data-selecct-value>Select category</div>-->

<!--              <div class="select-icon">-->
<!--                <ion-icon name="chevron-down"></ion-icon>-->
<!--              </div>-->

<!--            </button>-->

<!--            <ul class="select-list">-->

<!--              <li class="select-item">-->
<!--                <button data-select-item>All</button>-->
<!--              </li>-->

<!--              <li class="select-item">-->
<!--                <button data-select-item>Web design</button>-->
<!--              </li>-->

<!--              <li class="select-item">-->
<!--                <button data-select-item>Applications</button>-->
<!--              </li>-->

<!--              <li class="select-item">-->
<!--                <button data-select-item>Web development</button>-->
<!--              </li>-->

<!--            </ul>-->

<!--          </div>-->

<!--          <ul class="project-list">-->

<!--            <li class="project-item  active" data-filter-item data-category="web development">-->
<!--              <a href="#">-->

<!--                <figure class="project-img">-->
<!--                  <div class="project-item-icon-box">-->
<!--                    <ion-icon name="eye-outline"></ion-icon>-->
<!--                  </div>-->

<!--                  <img src="./assets/images/background.jpg" alt="finance" loading="lazy">-->
<!--                </figure>-->

<!--                <h3 class="project-title">Finance</h3>-->

<!--                <p class="project-category">Web development</p>-->

<!--              </a>-->
<!--            </li>-->

<!--            <li class="project-item  active" data-filter-item data-category="web development">-->
<!--              <a href="#">-->

<!--                <figure class="project-img">-->
<!--                  <div class="project-item-icon-box">-->
<!--                    <ion-icon name="eye-outline"></ion-icon>-->
<!--                  </div>-->

<!--                  <img src="./assets/images/background.jpg" alt="orizon" loading="lazy">-->
<!--                </figure>-->

<!--                <h3 class="project-title">Orizon</h3>-->

<!--                <p class="project-category">Web development</p>-->

<!--              </a>-->
<!--            </li>-->

<!--            <li class="project-item  active" data-filter-item data-category="web design">-->
<!--              <a href="#">-->

<!--                <figure class="project-img">-->
<!--                  <div class="project-item-icon-box">-->
<!--                    <ion-icon name="eye-outline"></ion-icon>-->
<!--                  </div>-->

<!--                  <img src="./assets/images/background.jpg" alt="fundo" loading="lazy">-->
<!--                </figure>-->

<!--                <h3 class="project-title">Fundo</h3>-->

<!--                <p class="project-category">Web design</p>-->

<!--              </a>-->
<!--            </li>-->

<!--            <li class="project-item  active" data-filter-item data-category="applications">-->
<!--              <a href="#">-->

<!--                <figure class="project-img">-->
<!--                  <div class="project-item-icon-box">-->
<!--                    <ion-icon name="eye-outline"></ion-icon>-->
<!--                  </div>-->

<!--                  <img src="./assets/images/background6.jpg" alt="brawlhalla" loading="lazy">-->
<!--                </figure>-->

<!--                <h3 class="project-title">Brawlhalla</h3>-->

<!--                <p class="project-category">Applications</p>-->

<!--              </a>-->
<!--            </li>-->

<!--            <li class="project-item  active" data-filter-item data-category="web design">-->
<!--              <a href="#">-->

<!--                <figure class="project-img">-->
<!--                  <div class="project-item-icon-box">-->
<!--                    <ion-icon name="eye-outline"></ion-icon>-->
<!--                  </div>-->

<!--                  <img src="./assets/images/project-5.png" alt="dsm." loading="lazy">-->
<!--                </figure>-->

<!--                <h3 class="project-title">DSM.</h3>-->

<!--                <p class="project-category">Web design</p>-->

<!--              </a>-->
<!--            </li>-->

<!--            <li class="project-item  active" data-filter-item data-category="web design">-->
<!--              <a href="#">-->

<!--                <figure class="project-img">-->
<!--                  <div class="project-item-icon-box">-->
<!--                    <ion-icon name="eye-outline"></ion-icon>-->
<!--                  </div>-->

<!--                  <img src="./assets/images/project-6.png" alt="metaspark" loading="lazy">-->
<!--                </figure>-->

<!--                <h3 class="project-title">MetaSpark</h3>-->

<!--                <p class="project-category">Web design</p>-->

<!--              </a>-->
<!--            </li>-->

<!--            <li class="project-item  active" data-filter-item data-category="web development">-->
<!--              <a href="#">-->

<!--                <figure class="project-img">-->
<!--                  <div class="project-item-icon-box">-->
<!--                    <ion-icon name="eye-outline"></ion-icon>-->
<!--                  </div>-->

<!--                  <img src="./assets/images/project-7.png" alt="summary" loading="lazy">-->
<!--                </figure>-->

<!--                <h3 class="project-title">Summary</h3>-->

<!--                <p class="project-category">Web development</p>-->

<!--              </a>-->
<!--            </li>-->

<!--            <li class="project-item  active" data-filter-item data-category="applications">-->
<!--              <a href="#">-->

<!--                <figure class="project-img">-->
<!--                  <div class="project-item-icon-box">-->
<!--                    <ion-icon name="eye-outline"></ion-icon>-->
<!--                  </div>-->

<!--                  <img src="./assets/images/project-8.jpg" alt="task manager" loading="lazy">-->
<!--                </figure>-->

<!--                <h3 class="project-title">Task Manager</h3>-->

<!--                <p class="project-category">Applications</p>-->

<!--              </a>-->
<!--            </li>-->

<!--            <li class="project-item  active" data-filter-item data-category="web development">-->
<!--              <a href="#">-->

<!--                <figure class="project-img">-->
<!--                  <div class="project-item-icon-box">-->
<!--                    <ion-icon name="eye-outline"></ion-icon>-->
<!--                  </div>-->

<!--                  <img src="./assets/images/project-9.png" alt="arrival" loading="lazy">-->
<!--                </figure>-->

<!--                <h3 class="project-title">Arrival</h3>-->

<!--                <p class="project-category">Web development</p>-->

<!--              </a>-->
<!--            </li>-->

<!--          </ul>-->

<!--        </section>-->

<!--      </article>-->





      <!--
        - #PROJECTS BLOG
      -->

      <article class="blog" data-page="projects">

        <header>
          <h2 class="h2 article-title">Projects</h2>
        </header>

        <ul class="filter-list">

            <li class="filter-item">
              <button class="active" data-filter-btn>All</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Research</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Hackathon</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Kaggle</button>
            </li>

            <li class="filter-item">
              <button data-filter-btn>Author</button>
            </li>

          </ul>

          <div class="filter-select-box">

            <button class="filter-select" data-select>

              <div class="select-value" data-selecct-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

            <ul class="select-list">

              <li class="select-item">
                <button data-select-item>All</button>
              </li>

              <li class="select-item">
                <button data-select-item>Research</button>
              </li>

              <li class="select-item">
                <button data-select-item>Hackathon</button>
              </li>

              <li class="select-item">
                <button data-select-item>Kaggle</button>
              </li>

            </ul>

          </div>





        <section class="blog-posts">

          <ul class="blog-posts-list" >

            <li class="blog-post-item active" data-filter-item data-category="hackathon">
              <a href="https://lablab.ai/event/chatgpt-api-and-whisper-api-global-hackathon/the-cyber-savvy-ninjas/mycademy" target="_blank">

                <figure class="blog-banner-box">
                  <img src="../static/assets/images/MyCademy2.png" alt="MyCademy" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">

                    <p class="blog-category">Python API</p>
                    <span class="dot"></span>

                    <p class="blog-category">Back-end Dev</p>
                    <span class="dot"></span>

                    <p class="blog-category">Git | GitHub</p>
<!--                    <span class="dot"></span>-->

<!--                    <time datetime="2022-02-23">April 2023</time>-->
                  </div>

                  <h3 class="h22 blog-item-title">MyCademy</h3>

                  <p class="blog-text">
MyCademy is an innovate online learning project that leverages ChatGPT and DALL-E-2 to create a webpage article tailored to user query with high-quality, organized content and creative, AI-generated images. It also has quiz, summarize, and interactive chatbox features, fostering an interactive learning experience.                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item active" data-filter-item data-category="kaggle">
              <a href="https://www.kaggle.com/code/adibvafafallahpour/titanic-novel-deep-learning-approach-tensorflow" target="_blank">

                <figure class="blog-banner-box">
                  <img src="../static/assets/images/titanic.jpg" alt="Titanic: Novel Deep Learning Approach | TensorFlow" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">

                    <p class="blog-category">Deep Learning</p>
                    <span class="dot"></span>

                    <p class="blog-category">TensorFlow | Keras</p>
                    <span class="dot"></span>

                    <p class="blog-category">Pandas</p>

                  </div>

                  <h3 class="h33 blog-item-title">Titanic:<br>Novel Deep Learning Approach</h3>

                  <p class="blog-text">
                  In a Kaggle notebook for the Titanic Competition, I cleaned the data and used data visualization to identify patterns & correlations. Then, I leveraged advanced Deep Learning techniques to design a Neural Network by TensorFlow, achieving ~80% accuracy.
                  </p>

                </div>

              </a>
            </li>


            <li class="blog-post-item active" data-filter-item data-category="hackathon">
              <a href="https://github.com/Adibvafa/" target="_blank">

                <figure class="blog-banner-box">
                  <img src="../static/assets/images/worldcup.png" alt="World Cup 2022 Data Analytics" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">

                    <p class="blog-category">SQLite</p>
                    <span class="dot"></span>
                    <p class="blog-category">PowerBI</p>
                    <span class="dot"></span>
                    <p class="blog-category">Presentation</p>

                  </div>

                  <h3 class="h333 blog-item-title">World Cup 2022 Data Analytics</h3>

                  <p class="blog-text">
                    Utilized SQL to gather data from previous World Cups, conducted trend & correlation analysis using Python, and presented the findings using PowerBI visuals to professional judges and audience. As a result, my team achieved the 1st prize in the university-wide team competition.
                  </p>

                </div>

              </a>
            </li>


            <li class="blog-post-item active" data-filter-item data-category="research">
              <a href="https://github.com/Adibvafa/N_Queens" target="_blank">

                <figure class="blog-banner-box">
                  <img src="../static/assets/images/N_Queens.png" alt="N_Queens Optimization" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">

                    <p class="blog-category">Machine Learning</p>
                    <span class="dot"></span>

                    <p class="blog-category">Optimization Algorithms</p>

                  </div>

                  <h3 class="h22 blog-item-title">N_Queens Optimization</h3>

                  <p class="blog-text">
                    Implemented & optimized Hill Climbing, Simulated Annealing, & Genetic Algorithms to solve the N-Queens problem in Python.
                    Designed and used a novel memory system in the algorithms to add calculated randomness, significantly improving local optimum escape.
                  </p>

                </div>

              </a>
            </li>

            <li class="blog-post-item active" data-filter-item data-category="author">
              <a href="https://www.ibo-info.org/en/" target="_blank">

                <figure class="blog-banner-box">
                  <img src="../static/assets/images/ibo.png" alt="International Biology Olympiad" loading="lazy">
                </figure>

                <div class="blog-content">

                  <div class="blog-meta">

                    <p class="blog-category">Project Management</p>
                    <span class="dot"></span>
                    <p class="blog-category">Teamwork</p>

                  </div>

                  <h3 class="h44 blog-item-title">Solution Writer<br>International Biology Olympiad 2018</h3>

                  <p class="blog-text">
                    Authored comprehensive solutions to the Cell & Molecular Biology questions featured in the esteemed IBO 2018. These solutions will benefit a vast global audience of ambitious students preparing for the upcoming International Olympiads.
                  </p>

                </div>

              </a>
            </li>



          </ul>

        </section>

      </article>





      <!--
        - #CONTACT
      -->

      <article class="contact" data-page="contact">

        <header><h2 class="h2 article-title">Communication</h2></header>

        <section class="contact-form">
          <h3 class="h3 form-title">You can create a mini-lesson or test your self:</h3>

          <div>
            <button class="form-btn" type="button" onclick="runCommLesson()">
              <ion-icon name="paper-plane"></ion-icon>
              <span>Create Mini-Lesson</span>
            </button>
            <button class="form-btn" type="button" onclick="runCommQuiz()">
                <ion-icon name="paper-plane"></ion-icon>
                <span>Quiz Me</span>
            </button>
          </div>


<!--          <h3 class="timeline-text" id="chatbox"></h3>-->

<!--          <form id="chat-form" action="/chat" method="POST">-->

<!--            <textarea type="text" name="message" class="form-input" id="input-textarea" placeholder="Your Message" required></textarea>-->

<!--            <button class="form-btn" type="submit" data-form-btn>-->
<!--              <ion-icon name="paper-plane"></ion-icon>-->
<!--              <span>Send Message</span>-->
<!--            </button>-->

<!--          </form>-->

        </section>


<!--        <section class="contact-form">-->

<!--          <h3 class="h3 form-title">Reach Out!</h3>-->

<!--          <form id="myForm" action="https://formspree.io/f/mvonevog" method="POST" class="form" target="_blank" data-form>-->

<!--            <div class="input-wrapper" >-->

<!--                <input type="text" name="fullname" class="form-input" placeholder="Full name" required data-form-input>-->

<!--                <input type="email" name="email" class="form-input" placeholder="Email address"  required data-form-input>-->
<!--            </div>-->

<!--              <textarea name="message" class="form-input" id="input-textarea" placeholder="Your Message" required data-form-input></textarea>-->

<!--            <button class="form-btn" type="submit" disabled data-form-btn>-->
<!--              <ion-icon name="paper-plane"></ion-icon>-->
<!--              <span>Send Message</span>-->
<!--            </button>-->

<!--          </form>-->

<!--        </section>-->

      </article>

    </div>

  </main>


  <script src="../static/assets/js/script.js"></script>


  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>


  <script>
    function runCommQuiz() {
      fetch('/comm_quiz')
        .then(response => {
          // Handle the response if needed
        })
        .catch(error => {
          // Handle the error if needed
        });
    }

    function runCommLesson() {
      fetch('/comm_lesson')
        .then(response => {
          // Handle the response if needed
        })
        .catch(error => {
          // Handle the error if needed
        });
    }

    // document.getElementById('chat-form').addEventListener('submit', (event) => {
    //   event.preventDefault();
    //   const userInput = document.getElementById('input-textarea').value;
    //   const message = document.createElement('p');
    //   message.innerHTML = `User: ${userInput}`;
    //   document.getElementById('chatbox').appendChild(message);
    //   document.getElementById('input-textarea').value = '';
    //
    //   fetch('/chat', {
    //       method: 'POST',
    //       headers: {
    //           'Content-Type': 'application/x-www-form-urlencoded',
    //       },
    //       body: `user_input=${userInput}`
    //   })
    //   .then(response => response.text())
    //   .then(output => {
    //       const botMessage = document.createElement('p');
    //       botMessage.innerHTML = `Bot: ${output}`;
    //       document.getElementById('chatbox').appendChild(botMessage);
    //       document.getElementById('chatbox').scrollTop = document.getElementById('chatbox').scrollHeight;
    //   });
    // });
  </script>


  <script>
    let quotes = [
      "The only way to do great work is to love what you do.<br>- Steve Jobs",
      "In the end, we only regret the chances we didn't take.<br>- Lewis Carroll",
      "Man's happiness really lies in contentment.<br> - Mahatma Gandhi",
      "The greatest glory in living lies not in never falling, but in rising every time we fall.<br>- Nelson Mandela",
      "The best way to predict the future is to create it.<br>- Peter Drucker",
      "The only person you should try to be better than is the person you were yesterday.<br>- Anonymous",
      "The two most important days in your life are the day you are born and the day you find out why.<br>- Mark Twain",
      "Don't watch the clock; do what it does. Keep going.<br>- Sam Levenson",
      "You miss 100% of the shots you don't take.<br>- Wayne Gretzky",
      "Happiness is not something ready-made. It comes from your own actions.<br>- Dalai Lama XIV",
      "The greatest prison people live in is the fear of what other people think.<br>- David Icke",
      "Believe you can and you're halfway there.<br>- Theodore Roosevelt",
      "The future belongs to those who believe in the beauty of their dreams.<br>- Eleanor Roosevelt",
      "The only limit to our realization of tomorrow will be our doubts of today.<br>- Franklin D. Roosevelt",
      "For to be stripped of one's Vision is to be stripped of one's... ambition.<br>- Yae Miko",
      "If it is fated, we will meet again.<br>- Kun Jun",
      "Success is not final, failure is not fatal: It is the courage to continue that counts.<br>- Winston Churchill",
      "In the midst of chaos, there is also opportunity.<br>- Sun Tzu",
      "Your time is limited, don't waste it living someone else's life.<br>- Steve Jobs",
      "Don't wait. The time will never be just right.<br>- Napoleon Hill",
      "The only person you are destined to become is the person you decide to be.<br>- Ralph Waldo Emerson",
      "A solitary human being is a contradiction in terms.<br>-Archbishop Desmond Tutu",
      "Success is not the key to happiness. Happiness is the key to success.<br>- Albert Schweitzer",
      "Believe you can and you're halfway there.<br>- Theodore Roosevelt",
      "Success is not about the destination, it's about the journey.<br>- Zig Ziglar",
      "Your time is now. Start where you are, use what you have, do what you can.<br>- Arthur Ashe",
      "The secret of getting ahead is getting started.<br>- Mark Twain",
      "Success is not found in what you have achieved, but in who you have become.<br>- Nelson Mandela",
      "Life is 10% what happens to us and 90% how we react to it.<br>- Charles R. Swindoll",
      "The best time to plant a tree was 20 years ago. The second best time is now.<br>- Chinese Proverb",
      "Be yourself; everyone else is already taken.<br>- Oscar Wilde",
      "We are the universe experiencing itself.<br>- Carl Sagan",
      "The more I learn, the more I realize how much I don't know.<br>- Albert Einstein",
      "The more you know, the more you realize you don't know.<br>- Aristotle",
      "Be the change that you wish to see in the world.<br>- Mahatma Gandhi"
    ];

    // Shuffle the quotes array using Fisher-Yates algorithm
    function shuffleArray(array) {
      var currentIndex = array.length, temporaryValue, randomIndex;

      // While there remain elements to shuffle
      while (currentIndex !== 0) {

        // Pick a remaining element
        randomIndex = Math.floor(Math.random() * currentIndex);
        currentIndex -= 1;

        // Swap it with the current element
        temporaryValue = array[currentIndex];
        array[currentIndex] = array[randomIndex];
        array[randomIndex] = temporaryValue;
      }

      return array;
    }

    // Shuffle the quotes array
    quotes = shuffleArray(quotes);

    var typed = new Typed('.auto-type', {
      strings: quotes,
      typeSpeed: 27,
      backSpeed: 13,
      loop: true,
      showCursor: false,
      backDelay: 5000,
    });
    </script>

    <script>
      function copyEmail() {
        var email = "Adibvafa.fallahpour@mail.utoronto.ca";
        navigator.clipboard.writeText(email);
      }
    </script>

    <script>
    function submitForm(event) {
      event.preventDefault(); // Prevent form submission (for demonstration purposes)

      // Perform your form submission logic here
      // For example, using Fetch API to submit the form asynchronously
      fetch(event.target.action, {
        method: 'POST',
        body: new FormData(event.target)
      })
      .catch(error => {
        // Handle any error that occurred during submission
        console.error('Error:', error);
      })
      .finally(() => {
        // Reset the form fields to their default values
        document.getElementById("myForm").reset();
      });
    }
  </script>

  <script>
    const textarea = document.getElementById('input-textarea');
    textarea.addEventListener('input', function() {
      this.style.height = 'auto';
      this.style.height = `${this.scrollHeight}px`;
    });
  </script>






</body>

</html>