@import url("https://fonts.googleapis.com/css?family=Varela+Round");

:root {

  /**
   * colors
   */

  /* gradient */

  --bg-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(240, 1%, 25%) 3%,
    hsl(0, 0%, 19%) 97%
  );
  --bg-gradient-jet: linear-gradient(
    to bottom right,
    hsla(240, 1%, 18%, 0.251) 0%,
    hsla(240, 2%, 11%, 0) 100%
  ), hsl(240, 2%, 13%);
  --bg-gradient-yellow-1: linear-gradient(
    to bottom right,
    hsl(45, 100%, 71%) 0%,
    hsla(36, 100%, 69%, 0) 50%
  );
  --bg-gradient-yellow-2: linear-gradient(
    135deg,
    hsla(45, 100%, 71%, 0.251) 0%,
    hsla(35, 100%, 68%, 0) 59.86%
  ), hsl(240, 2%, 13%);
  --border-gradient-onyx: linear-gradient(
    to bottom right,
    hsl(0, 0%, 25%) 0%,
    hsla(0, 0%, 25%, 0) 50%
  );
  --text-gradient-yellow: linear-gradient(
    to left,
    #0fecc9, deeppink
  );

  /* solid */

  --jet: hsl(0, 0%, 29%);
  --onyx: hsl(240, 1%, 17%);
  --eerie-black-1: hsl(240, 2%, 13%);
  --eerie-black-2: hsl(240, 2%, 12%);
  --smoky-black: hsl(0, 0%, 7%);
  --white-1: hsl(0, 0%, 100%);
  --white-2: hsl(0, 0%, 98%);
  --orange-yellow-crayola: rgba(0, 255, 195, 0.92);
  --vegas-gold: hsl(45, 54%, 58%);
  --light-gray: hsl(0, 1%, 86%);
  --light-pink: hsl(333, 91%, 61%);
  --dark-cyan: hsl(166, 41%, 58%);
  --light-cyan: hsl(166, 54%, 53%);
  --light-gray-70: hsla(0, 4%, 89%, 0.7);
  --bittersweet-shimmer: hsl(0, 43%, 51%);

  /**
   * typography
   */

  /* font-family */
  --ff-poppins: 'Poppins', sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
   * shadow
   */

  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease-in-out;

}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.my-container {
  /* height: 100vh; */
  width: 100%;
  height: 100%;
  /* fallback for old browsers */
  /* background-color: #4b79a1; */
  /* gradient */
  background: linear-gradient(to right, rgba(131, 96, 195, 0.58), rgba(46, 191, 145, 0.56));

}

/* center the container element
  .my-container {
    margin-top: 50px;
  } */

.form-holder {
  position: relative;
  top: 130px;
  /* border-width: 2em; */
  /* border-color: chartreuse; */
}

#larger-text {
  font-size: 6em;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  color: #444444;
    margin-top: -0.5em;
  margin-bottom: 0.3em;
  text-shadow: 0 0.5rem 1rem rgba(50, 0, 100, 0.1);
  background: linear-gradient(
            to right, #1800ff, #ff008a);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

/* style the h1 heading */
.my-h1 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  color: #444444;
  margin-bottom: 0.3em;
  text-shadow: 0 0.5rem 1rem rgba(50, 0, 100, 0.1);

}

.my-h2 {
  font-size: 36px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  color: #444444;
  margin-bottom: 1.2em;
  text-shadow: 0 0.5rem 1rem rgba(50, 0, 100, 0.1);
  background: linear-gradient(
            to left, #1800ff, #ff008a);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
}

.about-text-q {
  font-size: 30px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  color: #b40b5b;
  margin-bottom: 0.2em;
}

.about-text-a{
  font-size: 25px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  color: #0c0780;
  margin-bottom: 0.5em;
}

.message-container {
  font-size: 18px;
  font-weight: bold;
  font-family: "Varela Round", sans-serif;
  color: #444444;
  margin-bottom: 0.7em;
  text-shadow: 0 0.5rem 1rem rgba(50, 0, 100, 0.1);
}

/* style the form input */
.my-form-control {
  border-radius: 30px;
  border: 10em #333;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.37);
  font-size: 16px;
  color: #333;
  padding: 20px;
  margin-bottom: 20px;
}


/* style the submit button */
.my-btn-primary {
  border-radius: 0;
  border: none;
  box-shadow: none;
  background-color: rgba(10, 10, 10, 0.1);
  font-size: 18px;
  font-weight: bold;
  padding: 20px 30px;
  transition: all 0.2s ease-in-out;
}

/* hover effect for submit button */
.my-btn-primary:hover {
  background-color: rgba(10, 10, 10, 0.1);
  color: #fff;
}


.form-control {
  margin-top: 20px;
  background-color: transparent;
  padding: 20px;
  border-radius: 10px;
}

.button-container {
  margin-top: -50px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
}

.my-btn {
  margin-top: 40px; /* add some space between button and textarea */
  background-color: #fff;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Varela Round", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  padding: 2rem 4rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.my-btn-query {
  background-color: rgba(15, 236, 201, 0.43);
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: "Varela Round", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1rem;
  padding: 1rem 3rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: -10px;
}

.my-btn:not(:last-child) {
  margin-right: 50px; /* Adjust the value to change the distance between buttons */
}

.progress-bar {
  width: 0%;
  height: 20px;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
}

.loading {
  width: 50%;
}

/* .button-81:hover {
  background-color: #1e293b;
  color: #fff;
} */
